@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

.imgStyle {
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.btnStyle {
  border-radius: 0px !important;
}

.hotelName {
  font-family: "Sigmar", cursive;
  font-size: 25px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: black;
}
